doctype html

html

    header

        meta(charset='utf-8')
        meta(name='author' content='Rafael Escobar')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        link(inline, rel='stylesheet', href='index.css')

        title Derby Paulista!

    body

        table.table-h
            tr
                th
                th Mundial
                th Recopa
                th Libertadores
                th Brasileirão
                th Copa do Brasil
                th Série B
                th Paulistão
            tr.team-sccp
                td SCCP
                td 2
                td 1
                td 1
                td 7
                td 3
                td 1
                td 30
            tr.team-sep
                td SEP
                td 0
                td 0
                td 1
                td 10
                td 3
                td 2
                td 22

        table.table-v
                tr
                    th
                    th.team-sccp SCCP
                    th.team-sep SEP
                tr
                    td Mundial
                    td.team-sccp 2
                    td.team-sep 0
                tr
                    td Recopa
                    td.team-sccp 1
                    td.team-sep 0
                tr
                    td Libertadores
                    td.team-sccp 1
                    td.team-sep 1
                tr
                    td Brasileirão
                    td.team-sccp 7
                    td.team-sep 10
                tr
                    td Copa do Brasil
                    td.team-sccp 3
                    td.team-sep 3
                tr
                    td Série B
                    td.team-sccp 1
                    td.team-sep 2
                tr
                    td Paulistão
                    td.team-sccp 30
                    td.team-sep 22
