.team-sccp
    color white
    background-color black

.team-sep
    color white
    background-color green

@media (orientation: portrait)
    .table-h
        display none

@media (orientation: landscape)
    .table-v
        display none
