@media screen

    .team-sccp
        color white
        background-color black

    .team-sep
        color white
        background-color #016436

    .team-spfc
        color white
        background-color #ed1720

    .team-sfc
        color black
        background-color white

    .team-crf
        color white
        background-color #c1291c

    .team-crvg
        color black
        background-color white

    .team-ffc
        color white
        background-color #00603b

    .team-bfr
        color white
        background-color black

    .team-cec
        color white
        background-color #065aa2

    .team-cam
        color white
        background-color black

    .team-gfbpa
        color white
        background-color #005ea8

    .team-sci
        color white
        background-color #c30411

    @media (orientation: portrait)
        .table-h
            display none

    @media (orientation: landscape)
        .table-v
            display none
